.swiper-container-horizontal {

  > .swiper-pagination-bullets {
    padding-top: 17px;
    position: static;
    width: 100%;
  }
}

.swiper-slide {
  background-image: url('../images/data/slider/1.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: '';
    display: block;
    padding-top: percentage(300/640);
  }
}

.swiper-pagination-bullet {
  @include square(14px);
  background: $color-white;
  border: 1px solid $color-primary;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: $color-primary;
}

.swiper-slide-prev {

  .swiper-heading,
  .swiper-summary {
    visibility: hidden;
  }
}

.swiper-slide-next {

  .swiper-heading,
  .swiper-summary {
    visibility: hidden;
  }
}

.swiper-arrow-next,
.swiper-arrow-prev {
  color: $color-white;
  cursor: pointer;
  font-size: 70px;
  height: 70px;
  margin-top: -35px;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: color .3s ease-in-out;
  width: 32px;
  z-index: 10;

  &:hover {
    color: $color-primary;
  }
}

.swiper-wrap {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 2;
}

.swiper-heading {
  color: $color-white;
  float: right;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  padding-left: 17px;
  text-align: right;
  text-transform: uppercase;
  width: calc(100% - 8px);
  z-index: 2;
}

.swiper-title {
  background: $color-primary-opacity-90;
  display: block;
  padding: 8px 10px;
  position: relative;
  white-space: nowrap;
  z-index: 1;

  &::before {
    border-bottom: 40px solid $color-primary-opacity-90;
    border-left: 17px solid transparent;
    content: '';
    display: block;
    left: -17px;
    position: absolute;
    top: 0;
  }
}

.swiper-summary {
  background: $color-white-opacity-90;
  float: left;
  margin-bottom: 0;
  min-height: 40px;
  position: relative;
  text-indent: -9090px;
  width: 8px;

  &::after {
    border-right: 17px solid transparent;
    border-top: 40px solid $color-white-opacity-90;
    content: '';
    display: block;
    position: absolute;
    right: -17px;
    top: 0;
  }
}

.swiper-icon {
  color: $color-primary;
  font-size: 17px;
  height: 20px;
  left: 28px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}

.swiper-text {
  @include text-overflow;
  display: block;
}

.swiper-cover {
  @include coverer;
  display: block;
  text-indent: -9090px;
  z-index: 2;
}

@include breakpoint(m) {
  .swiper-container-horizontal {

    > .swiper-pagination-bullets {
      left: 10px;
      padding-top: 0;
      position: absolute;
      width: 100px;
    }
  }

  .swiper-slide {
    &::before {
      padding-top: percentage(400/740);
    }
  }

  .swiper-arrow-next {
    right: 0;
  }

  .swiper-arrow-prev {
    left: 0;
  }

  .swiper-heading {
    height: 100%;
    min-width: percentage(370/740);
    padding-left: 36px;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  .swiper-title {
    padding-bottom: 9px;
    padding-top: 9px;

    &::before {
      border-bottom-width: 42px;
      border-left-width: 36px;
      left: -36px;
    }
  }

  .swiper-summary {
    color: $base-link-hover-color;
    padding: 11px 28px 11px 60px;
    position: relative;
    width: percentage(370/740);

    &::after {
      border-right-width: 36px;
      border-top-width: 42px;
      right: -36px;
    }
  }
}

@include breakpoint(l) {
  .swiper-slide-prev {

    .swiper-wrap {
      background: $color-white-opacity-90;
    }
  }

  .swiper-slide-next {

    .swiper-wrap {
      background: $color-primary-opacity-90;
    }
  }

  .swiper-container-horizontal {

    > .swiper-pagination-bullets {
      left: 50%;
      margin-left: -50px;
    }
  }

  .swiper-slide {
    width: 950px;

    &::before {
      padding-top: percentage(400/950);
    }

    &::after {
      @include coverer;
      background: $color-overlay-carousel-item;
      content: '';
      display: block;
      transition: opacity .3s ease-in-out;
    }
  }

  .swiper-slide-active {

    &::after {
      opacity: 0;
    }
  }

  .swiper-heading {
    min-width: percentage(360/1140);
  }

  .swiper-summary {
    text-indent: 0;
    width: percentage(780/1140);
  }

  .swiper-text {
    max-width: 350px;
  }
}

@include breakpoint(xl) {
  .swiper-slide {
    width: 1140px;

    &::before {
      padding-top: percentage(400/1140);
    }
  }

  .swiper-arrow-next {
    right: 50px;
  }

  .swiper-arrow-prev {
    left: 50px;
  }

  .swiper-text {
    max-width: 450px;
  }
}
