.header {
  padding-top: 16px;
  position: relative;
  z-index: 10;
}

// Button menu bar
.header-menu {
  @include size(60px, 50px);
  background: $color-gray-lighter;
  color: $color-primary;
  display: block;
  font-size: 20px;
  left: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 0;

  &:hover,
  &:active {
    color: $color-primary;
  }
}

.header-logo {
  left: 50%;
  margin-left: -75px;
  position: absolute;
  top: 14px;
  width: 130px;
}

.header-link {
  display: inline-block;
}

.header-media {
  width: 100%;
}

.header-lang {
  float: right;
  margin-bottom: 16px;
}

.header-nav {
  margin-left: -$grid-gutter;
  margin-right: -$grid-gutter;
}

@include breakpoint(l) {
  .header {
    padding-bottom: 15px;
    padding-top: 12px;
  }

  .header-menu {
    display: none;
  }

  .header-logo {
    float: left;
    margin-left: 0;
    margin-top: 10px;
    position: static;
    width: 195px;
  }

  .header-lang {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .header-nav {
    float: right;
    margin: 3px 17px 0 0;
  }
}
