// Website Variables and Colours
$color-primary: #b60081;
$color-primary-opacity-90: rgba($color-primary, .9);
$color-primary-opacity-70: rgba($color-primary, .7);
$color-second: #f8eaf4;
$color-three: #333;
$color-gray-light: #ebebeb;
$color-gray-light2: #eee;
$color-gray-light3: #ececec;
$color-gray-lighter: #f5f5f5;
$color-gray-lighter2: #f0f0f0;
$color-gray-lighter3: #f3f3f3;
$color-gray-light4: #e8e8e8;
$color-white: #fff;
$color-black: #000;
$color-red: #d50000;
$color-black-opcity-60: rgba($color-black, .6);
$color-black-opacity-15: rgba($color-black, .15);
$color-white-opacity-90: rgba($color-white, .9);
$color-overlay-carousel-item: rgba($color-gray-lighter3, .8);

