extends layouts/full-width.jade
block head
	+head(
	'Terms of service',
	'description',
	'keywords',
	'description_social',
	'image_social',
	'url_social',
	'type_social'
	)
block css
block banner
	.banner.banner-terms
		.container
			.banner-content
				.banner-wrap
					.banner-summary
					.banner-heading
						h2.banner-tittle Philosophy
	///.banner
	= '\n'

block content
	ul.nav-breadcrumb
		li
			a(href="#", title="Home") Home
		li
			span Terms of service
	///.nav-breadcrumb
	article.post
		h2.post-heading Prohibited Items
		.row
			.col-12.col-3-l.col-3-xl
				figure.post-media
					img.post-image(src="assets/images/data/post/terms-1.jpg", alt="History", width="532", height="362")
			.col-12.col-9-l.col-9-xl
				.post-content
					h4.post-hightlight In using this website, the following acts shall not be performed.
					p.post-number
						strong Acts that infringe the property or privacy of the Company or a third party, or acts that may be feared
					p.post-number
						strong Acts that give disadvantage or damage to the Company or a third party, or acts that may be feared
					p.post-number
						strong In addition, acts that violate laws and ordinances, or acts that fear
					p.post-number
						strong In addition to the above, acts that we deem inappropriate



	///.post
	article.post
		h2.post-heading Copyright
		.row
			.col-12.col-3-l.col-3-xl
				figure.post-media
					img.post-image(src="assets/images/data/post/terms-2.jpg", alt="copyright", width="532", height="362")

			.col-12.col-9-l.col-9-xl
				.post-content
					p The copyrights of contents (information, materials, images, sounds etc.) within this website are owned by the Company unless otherwise specified.
					p Regardless of profit or non-profit, copy, divert, sell, etc. the content in this website beyond the legally permissible range, or deform, change, revise, adapt the content of the contents, etc. Thing is not permitted at all unless there is a prior agreement by the Company's documents individually.
	///.post
	= '\n'
	article.post
		h2.post-heading Privacy protection
		.row
			.col-12.col-3-l.col-3-xl
				figure.post-media
					img.post-image(src="assets/images/data/post/terms-3.jpg", alt="Privacy protection", width="532", height="362")
			.col-12.col-9-l.col-9-xl
				.post-content
					p.post-number
						strong Acts that infringe the property or privacy of the Company or a third party, or acts that may be feared
					p We recognize that information (personal information) that can identify specific individuals by name, birth date and other descriptions is valuable privacy information for users. It is possible for users to visit this website without disclosing their own personal information and by referring to this website, personal information of users will not be gathered.
						<br><br><em>However, except where applicable:</em>
						<br><span class='color-pink'>(1)</span> When there is a request from the relevant laws of Viet Nam related to Viet Nam
						<br><span class='color-pink'>(2)</span> When there is a request from the Vietnamese administrative department concerned
					p.post-number
						strong About using IP address
					p We record the accessed IP address and domain in order to analyze statistical trends about access to the website and to use it for the management and operation of the system, but for the analysis Personal information is not included in the information.


	///.post
	= '\n'
	article.post
		h2.post-heading Link condition
		.row
			.col-12.col-3-l.col-3-xl
				figure.post-media
					img.post-image(src="assets/images/data/post/terms-3.jpg", alt="Link condition", width="532", height="362")

			.col-12.col-9-l.col-9-xl
				.post-content
					p In addition, we will not take any responsibility even if your company or you suffer damage due to link to this website without our permission. In the case where a link to a site other than this website (hereinafter referred to as "other site") is made from this website, this does not mean that the Company recommends the use of other sites, contents of contents to be posted etc , Unless otherwise specified, this does not mean that there is any special relationship such as partnership relationship between the other site or its operator and the Company.
					p Other sites that are linking from this website or linking to this website are managed and managed at the responsibility of each other's site creator who is different from our company. Therefore, please follow the terms of use of other sites in using other sites. We do not guarantee anything about the contents of other sites, and we are not responsible for any damage caused by its use.
	///.post
	= '\n'
	article.post
		h2.post-heading Disclaimer
		.row
			.col-12.col-3-l.col-3-xl
				figure.post-media
					img.post-image(src="assets/images/data/post/terms-3.jpg", alt="Privacy protection", width="532", height="362")
			.col-12.col-9-l.col-9-xl
				.post-content
					p.post-number
						strong About posting information
					p Regarding the information posted on this website, we pay close attention, but if there is any mistake in the information posted, falsification of data by a third party, failure caused by data download etc. Regardless of reason, we are not responsible at all.
					p The copyright of the contents posted on this website belongs to us in principle. Unauthorized diversion / reproduction is prohibited.We are not responsible for any information, services etc provided at the visited site if we are moved from this website to another site by link, banner etc etc.
					p.post-number
						strong Regarding the operation of this website
					p We may discontinue, suspend or change the contents of this website without prior notice.<br>Moreover, we may not be able to use this website properly due to communication environment, customer's computer situation or other reasons. Please note that we are not responsible for any troubles / losses / damages that may be caused by these.


	///.post
	= '\n'