// ==========================================================================
// Base – Forms
// ==========================================================================

// Form, Fieldset and Legend
fieldset {
  border: 1px solid $base-color-gray-light;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

// All Form Elements
label,
button,
input,
optgroup,
select,
textarea {
  color: $base-input-color;
  font: inherit;
  margin: 0;
}

// Mixed Input Fields
[type='text'],
[type='email'],
[type='password'],
[type='tel'],
[type='number'],
[type='date'] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  background-color: $base-input-background-color;
  border-radius: 0;
  border: 1px solid $base-input-border-color;
  height: $base-input-height;
  padding: 10px;

  &:focus {
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}

[type='number'] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button{
    height: auto;
  }
}

[type='date'] {
  &::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

// Text Area
textarea {
  background-color: $base-input-background-color;
  border-radius: 0;
  border: 1px solid $base-input-border-color;
  overflow: auto;
  padding: 10px;

  &:focus {
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}

// Select
select {
  background-color: $base-input-background-color;
  border: 1px solid $base-input-border-color;
  height: $base-input-height;
  padding: 0 10px;
  text-transform: none;

  &:focus {
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}

optgroup { font-weight: 500; }

// Buttons
button {
  border-radius: 0;
  cursor: pointer;
  overflow: visible;
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  border-radius: 0;

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

button,
input {
  &[disabled] {
    cursor: not-allowed;
  }
}

// Placeholder Colour
input {
  @include placeholder($base-input-placeholder-color);
}
